
djangoframe/venv_private_diary/private_diary/media/IMG_1552.JPG
djangoframe/venv_private_diary/private_diary/media/IMG_1576.JPG
djangoframe/venv_private_diary/private_diary/media/IMG_0158.JPG
djangoframe/venv_private_diary/private_diary/media/IMG_0167.JPG
djangoframe/venv_private_diary/private_diary/media/IMG_0170.PNG
webApplication(django)/DiaryList(VM)/venv_private_diary/private_diary/media/IMG_1543.JPG
*.JPG
